@{
  ViewData["Title"] = "Get Provider Failed";
}

<div class="text-center">

  <h1 class="display-4 mb-4">Get Provider Failed</h1>

  <div class="alert alert-danger" role="alert">
    @ViewData["Status"]
  </div>
  <br />
  <div class="alert alert-info" role="alert">
    <label>Provider selected:</label>&nbsp;@ViewData["ProviderId"]
  </div>
</div>
