@model DonateModel
@{
  ViewData["Title"] = "Payout Successful";
}

<div class="text-center">

  <h1 class="display-4 mb-4">Payout Successful</h1>

  <div class="alert alert-success" role="alert">
    @ViewData["Status"]
  </div>
</div>
