@page
@model Callback

@{
    ViewData["Title"] = "Callback page";
}

<h1>Callback page</h1>

@if (Model.Error is not null)
{
    <div class="alert alert-danger" role="alert">
        <ul class="mb-0" style="list-style-type:none;">
            <li>@Model.Error.ErrorDescription</li>
        </ul>
    </div>
}
else
{
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Payment Id</th>
            <th scope="col">Created At</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@Model.Payment?.SimpId</td>
            <td>@Model.Payment?.CreatedAt</td>
            <td>@Model.Payment?.Status</td>
        </tr>
        </tbody>
    </table>
}

