@page
@model Callback

@{
    ViewData["Title"] = "Callback page";
}

<h1>Callback page</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Payment Id</th>
      <th scope="col">Created At</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>@Model.Payment?.simp_id</td>
    <td>@Model.Payment?.created_at</td>
    <td>@Model.Payment?.status</td>
  </tr>
  </tbody>
</table>
