@model DonateModel
@{
  ViewData["Title"] = "Donation Failed";
}

<div class="text-center">

  <h1 class="display-4 mb-4">Donation Failed</h1>

  <div class="alert alert-danger" role="alert">
    @ViewData["Status"]
  </div>
</div>
