@model DonateModel
@{
  ViewData["Title"] = "Donation Pending";
}

<div class="text-center">

  <h1 class="display-4 mb-4">Donation Pending</h1>

  <div class="alert alert-info" role="alert">
    @ViewData["Status"]
  </div>
</div>
