name: Build

on:
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      verbosity:
        description: "Cake Build Verbosity"
        required: true
        default: "Normal"

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Setup .NET 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET 2.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.x.x
      - name: Restore tools
        run: dotnet tool restore
      - name: Run the build script
        uses: cake-build/cake-action@v1
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TrueLayer__ClientId: ${{ secrets.TRUELAYER__CLIENTID }}
          TrueLayer__ClientSecret: ${{ secrets.TRUELAYER__CLIENTSECRET }}
          TrueLayer__Payments__SigningKey__KeyId: ${{ secrets.TRUELAYER__PAYMENTS__SIGNINGKEY__KEYID }}
          TrueLayer__Payouts__SigningKey__KeyId: ${{ secrets.TRUELAYER__PAYMENTS__SIGNINGKEY__KEYID }}
        with:
          cake-version: 1.3.0
          target: CI
          verbosity: ${{ github.event.inputs.verbosity }}
      - name: Upload pre-release packages
        uses: actions/upload-artifact@v2
        with:
          name: packages
          path: artifacts/*.nupkg
