name: Publish

on:
  push:
    branches: [main]
    tags: ['*']
  workflow_dispatch:
    inputs:
      verbosity:
        description: 'Cake Build Verbosity'
        required: true
        default: 'Normal'
      target:
        description: 'Cake Build Target'
        required: true
        default: 'Publish'
      force-docs:
        description: 'Whether to force push the docs to GitHub Pages'
        required: true
        default: 'false'
jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.x
      - name: Setup .NET 9.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 9.0.x
      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
      - name: Setup .NET 2.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.x
      - name: Restore tools
        run: dotnet tool restore
      - name: Run the build script
        uses: cake-build/cake-action@v1
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          NUGET_API_URL: https://api.nuget.org/v3/index.json
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_PAGES_ACCESS_TOKEN: ${{ secrets.GH_PAGES_ACCESS_TOKEN }}
          NUGET_PRE_API_KEY: ${{ secrets.GITHUB_TOKEN }}
          NUGET_PRE_API_URL: https://nuget.pkg.github.com/TrueLayer/index.json
          TrueLayer__ClientId: ${{ secrets.TRUELAYER__CLIENTID }}
          TrueLayer__ClientSecret: ${{ secrets.TRUELAYER__CLIENTSECRET }}
          TrueLayer__Payments__SigningKey__KeyId: ${{ secrets.TRUELAYER__PAYMENTS__SIGNINGKEY__KEYID }}
        with:
          cake-version: 1.3.0
          target: ${{ github.event.inputs.target || 'Publish' }}
          verbosity: ${{ github.event.inputs.verbosity || 'Normal' }}
          arguments: |
            force-docs: ${{ github.event.inputs.force-docs || 'false' }}
